<ion-header>
    <ion-segment [(ngModel)]="cond">
      <ion-segment-button value="saved">
        Хадгалсан
      </ion-segment-button>
      <ion-segment-button value="download">
        Татаж авсан
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Ачаалж байна...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="cond">
    <ion-list *ngSwitchCase="'saved'" no-lines>
        <ion-item  *ngFor="let content of contents">
            <ion-thumbnail item-left>
                <img [src]="'http://www.marchaahai.mn/images/content/'+content.id+'/'+content.picture">
            </ion-thumbnail>
            <div class="play">    
                <button ion-button icon-only clear large (click)="playVideo(content.id ,content.video)">
                    <ion-icon name="play"></ion-icon>
                </button>
            </div>
            <h2>{{content.title}}</h2>
        </ion-item>
    </ion-list>


    <ion-list *ngSwitchCase="'download'" no-lines>

      <ion-item *ngFor="let download of downloads">
        <ion-thumbnail item-left>
          <img src="assets/img/friends.jpg">
        </ion-thumbnail>
        <h2>Үнэнч найзууд 222</h2>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>