page-login {
	.center{
		text-align: center;
		img{
			width:50%;
		}
	}
	[padding], [padding] .scroll-content {
	    padding: 6px 16px !important;
	}
	.toast-message { 
	    color: red;
	    background:#fff;
	}
}
