<ion-header>
  <ion-navbar>
    <ion-title>{{ pagetitle }}</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="card-background-page listpage">
    <ion-list no-lines>
        <ion-item *ngIf="nodata" class="nodata">
            <ion-icon name="ios-thunderstorm"></ion-icon>
            <h2>Интернэт холболт тасарсан!</h2>
        </ion-item>
    </ion-list>
    <div *ngIf="!nodata">
    <ion-card *ngFor="let content of contents">
        <img [src]="'http://www.marchaahai.mn/images/content/'+content.id+'/'+content.picture" />
        <div class="card-title">{{content.title}}</div>
        <div class="play">    
            <button ion-button icon-only clear large (click)="playVideo(content.id ,content.video)">
                <ion-icon name="play"></ion-icon>
            </button>
        </div>
        <div class="card-subtitle">
          
          <button *ngIf="!show" ion-button small icon-left clear  (click)="addtofav(content.id)">
              <ion-icon name="heart"></ion-icon>
          </button>
          <div *ngIf="show">
              Төлбөргүй
          </div>
          <button  *ngIf="!show" ion-button icon-left clear (click)="addtodownload(content.id, content.title, content.picture, content.video)">
              <ion-icon *ngIf="isbusy!=content.id" name="download"></ion-icon>
              <ion-spinner *ngIf="isbusy==content.id" name="bubbles"></ion-spinner>
          </button>
        </div>
    </ion-card>
    </div>

    <div *ngIf="show">
    <div *ngIf="!nodata" >
    <ion-card *ngFor="let content of democontents">
        <img [src]="'http://www.marchaahai.mn/images/content/'+content.id+'/'+content.picture" />
        <div class="card-title">{{content.title}}</div>
        <div class="play">    
            <button ion-button icon-only clear large (click)="gotohelp()">
                <ion-icon name="play"></ion-icon>
            </button>
        </div>
        <div class="card-subtitle red">
            Төлбөртэй
        </div>
    </ion-card>
    </div>
    </div>

  

</ion-content>