page-lists{
	ion-card{
		width: calc(50% - 24px) !important;
    	float: left;
        margin: 12px 12px 12px 12px !important;
        position: relative;
        .card-title{
			position: absolute;
		    top: 0;
		    padding: 8px 10px;
		    color: #fff;
		    background: rgba(22, 187, 122, 0.65);
		    width: 100%;
        }
        img{
        	height: 200px;
        }
        .card-subtitle{
			position: relative;
		    margin-top: -55px;
		    padding: 8px 10px;
		    color: #fff;
		    background: rgba(22, 187, 122, 0.65);
		    width: 100%;
        }
	}
	.button-clear-md{
	    padding: 0 20px;
	    margin: 0;
	    height: auto;
	    color: #fff;
	}
	.play button{
	    position: relative;
	    margin-top: -235px;
	    text-align: center;
	    width: 100%;
	}
	.red{
		background: rgba(255, 0, 0, 0.65) !important;
	}
	.toast-message { 
	    color: green;
	    background:#fff;
	}
	ion-spinner{
		font-size: 12px;
		color:#fff;
	}
	.color089cf7 .toolbar-background{
		background-color: #089cf7 !important;
	}
	.color7e2d00 .toolbar-background{
		background-color: #7e2d00 !important;
	}
	.color3aad04 .toolbar-background{
		background-color: #3aad04 !important;
	}
	.color0430a0 .toolbar-background{
		background-color: #0430a0 !important;
	}
	.colorff0000 .toolbar-background{
		background-color: #ff0000 !important;
	}
	.colorae000c .toolbar-background{
		background-color: #ae000c !important;
	}
}
