page-contact {
	ion-list-header{
		ion-label{
			color:#999;
		}
		item-inner{
			font-size:14px;
		}
	}
	.toolbar-ios ion-title {
	    padding: 0 70px 1px;
    }
    .colorwhite{
    	color:#fff !important;
    }
    
    ion-title{
		color:#fff !important;
	} 
	.bts{
		background: #F97A08 !important;
	}
	.toolbar-background{
		background-color:#F97E08 !important;
	}
	ion-title{
		color:#fff !important;
		font-size: 1.8rem !important;
	}
	.exit{
		background-color: #94A2D4 !important;
		color: #000 !important;
	}
}
