page-help {
	ion-list {
	    margin-left: -16px !important;
	    margin-right: -16px !important;
	}
	ion-item{
		background-color: #ffc929 !important;
		color: #fff !important;
	}
	ion-content{
		padding{
			padding: 5px 16px !important;
		}	
	}
	.toolbar-background{
		background-color:#F97E08 !important;
	}
	
}
